<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WindowsService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8888/WCFServiceHostByWindowsService"
                binding="wsHttpBinding" bindingConfiguration="WindowsService"
                contract="HelloWorldService.HelloWorldService" name="WindowsService">
                <identity>
                    <servicePrincipalName value="host/APT05-2HZJTQ3.SWG.cdc.root" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>