<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<system.serviceModel>
		<!--若采用硬编码方式，则将当前节点注释掉-->
		<behaviors>
			<serviceBehaviors>
				<behavior name="serviceMetadataBehavior">
					<serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:8888/HelloWorldService/metadata" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service behaviorConfiguration="serviceMetadataBehavior" name="WCFService.HelloWorldService">
				<endpoint address="http://localhost:8888/HelloWorldService"
						  binding ="wsHttpBinding"
						  contract="WCFService.IHelloWorld"
						  />
			</service>
		</services>
	</system.serviceModel>
</configuration>